<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 변수 설정 -->
    <property name="LOG_DIR_SERVER" value="/home/ec2-user/logs"/>
    <property name="LOG_FILE" value="logfile.log"/>

    <property name="LOG_FILE_PROD"  value="${LOG_DIR_SERVER}/${LOG_FILE}"/>
    <property name="LOG_FILE_DEV"   value="${LOG_DIR_SERVER}/${LOG_FILE}"/>
    <property name="LOG_FILE_LOCAL" value="./log/${LOG_FILE}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread] %highlight(%-5level) %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <springProfile name="prod">
            <file>${LOG_FILE_PROD}</file>
        </springProfile>

        <springProfile name="dev">
            <file>${LOG_FILE_DEV}</file>
        </springProfile>

        <springProfile name="local">
            <file>${LOG_FILE_LOCAL}</file>
        </springProfile>

        <!-- 사이즈 & 일자별로 로그 파일 적용 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <springProfile name="prod">
                <fileNamePattern>${LOG_DIR_SERVER}/%d{yyyy-MM}/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            </springProfile>

            <springProfile name="dev">
                <fileNamePattern>${LOG_DIR_SERVER}/%d{yyyy-MM}/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            </springProfile>

            <springProfile name="local">
                <fileNamePattern>./log/%d{yyyy-MM}/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            </springProfile>

            <maxFileSize>10MB</maxFileSize>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Logging level - TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
    <!-- 모든 로그 레벨을 INFO로 설정 : INFO, WARN, ERROR, FATAL 레벨 출력 -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>
