<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 변수 설정 -->
    <property name="LOG_DIR_SERVER" value="/home/ec2-user/logs"/>
    <property name="LOG_FILE" value="logfile.log"/>

    <property name="LOG_FILE_PROD" value="${LOG_DIR_SERVER}/${LOG_FILE}"/>
    <property name="LOG_FILE_DEV" value="${LOG_DIR_SERVER}/${LOG_FILE}"/>
    <property name="LOG_FILE_LOCAL" value="./log/${LOG_FILE}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread] %highlight(%-5level) %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <springProfile name="prod">
            <file>${LOG_FILE_PROD}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR_SERVER}/%d{yyyy-MM}/log.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
        </springProfile>

        <springProfile name="dev">
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./log/%d{yyyy-MM}/log.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
        </springProfile>

        <springProfile name="local">
            <file>${LOG_FILE_LOCAL}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./log/%d{yyyy-MM}/log.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
        </springProfile>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logging level - TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
    <!-- 모든 로그 레벨을 INFO로 설정 : INFO, WARN, ERROR, FATAL 레벨 출력 -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>
